:root {
	--color-bg: #eaebef;
	--color-block: #fff;
	--color-text: #383844;
	--color-muted: #6e6f77;

	--color-accent: #ff5c00;
	--color-accent-hover: #e14c08;

	--color-border: #d1d1d6;
	--color-shadow: rgba(0, 0, 0, 0.05);
	--color-overlay: rgba(0, 0, 0, 0.1);

	--color-success: #34c759;
	--color-error: #ff3b30;
	--color-warning: #ffcc00;
}

html {
	font-size: 18px;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);

	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

header {
	background-color: var(--color-bg);
	padding: 2rem;
	padding-left: 2.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	color: var(--color-text);
	font-size: 1.1rem;
}

.header_menu {
	color: var(--color-muted);
	padding-right: 2rem;
}

.header_menu_ul {
	display: flex;
	gap: 1rem;
}

.header_menu_ul > li > a {
	font-size: 0.7rem;
	font-weight: 500;
	transition: color 0.3s ease;
}

.header_menu_ul > li > a:hover {
	color: var(--color-text);
}
