.welcome {
  position: relative;
	justify-content: center;
	align-items: center;
	min-height: 70vh; // 100vh - стандартно, размер нашей страницы, которую мы видим при открывании
	display: flex;

	&__information {
		position: relative;
    text-align: center;
		z-index: 1; // для вынесения текста на передний план, чтобы была возможность выделить его, не работает без position: relative
		width: 40%;
		margin: auto;
	}

	&__text {
    font-weight: 500;
	}

	// PERSONAL JETS
	&__sub-text {
    opacity: 0.9; // прозрачность текста
		font-size: 0.6rem;
    text-transform: uppercase; // все буквы заглавные
	}

	// Luxury
	&__title {
		color: $color-muted;
		font-size: 3.5rem;
		padding-top: 0rem;
    line-height: 0.8; // расстояние между строками
	}

	// Affordable
	&__second_title {
		color: #111;
		font-size: 3.5rem;
    line-height: 1.1;
	}

	// Дивиз компании
	&__motto {
		color: #111;
		font-size: 0.7rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	// Кнопки
	&__cta {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.8 rem;
		margin: 0 auto;
	}

	// Самолет 
  &__plane {  
    position: absolute; // прикрепили к position: relative
		bottom: 0;
		max-width: 100%;
		height: auto;
		margin-top: 0;
		z-index: 0;
		pointer-events: none; // делает элемент полностью невидимым для курсора 
		user-select: none; // убирает любые взаимодействия с картинкой
	}


}
