.welcome {
  position: relative;
  height: 80vh; // 100vh - размер нашей страницы, которую мы видим при открывании 

	&__information {
    text-align: center;
	}

	&__text {
		position: relative;
    z-index: 1; // для вынесения текста на передний план, чтобы была возможность выделить его, не работает без position: relative
    font-weight: 500;

	}

	// PERSONAL JETS
	&__sub-text {
		// color: $color-muted;
    opacity: 0.9; // прозрачность текста
		font-size: 0.6rem;
    text-transform: uppercase; // все буквы заглавные
	}

	// Luxury
	&__title {
		color: $color-muted;
		font-size: 3.5rem;
		padding-top: 0rem;
		// margin-top: -1.3rem;
    line-height: 0.8; // расстояние между строками
	}

	// Affordable
	&__second_title {
		color: #111;
		font-size: 3.5rem;
    line-height: 1.1;
		// margin-top: -1.8rem;
	}

	&__motto {
		color: #111;
		font-size: 0.7rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	&__cta {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.8 rem;
		margin: 0 auto;
	}

  &__plane {  
    position: absolute; // прикрепили к position: relative
    top: 0;
    width: 92%;
  }


}
