@import 'variables';

.welcome {
  &__btn {
    @include welcome_cta;
    background-color: variables.$color-block;
    text-align: center;
    color: #111;
    transition: background-color 0.4s ease;
  }

  &__btn_primary {
    @include welcome_cta;
    background-color: #16171c;
    color: variables.$color-block;
      transition: background-color 0.4s ease; // для плавности переходов между двумя разными состояниями элемента

    &:hover {
      color: variables.$color-text;
    }
  }
}