@use 'variables';


html {
	font-size: 18px;
}

body {
	background-color: variables.$color-bg;
	color: variables.$color-text;

	font-family: variables.$font-family;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

button {
	cursor: pointer; // вид курсора при наведении на кнопку
}

@import 'header';
@import 'ui';
@import 'main_section';
