@use 'variables';


html {
	font-size: 18px;
}

body {
	background-color: variables.$color-bg;
	color: variables.$color-text;

	font-family: variables.$font-family;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;

	// overflow-x: hidden; // блокирует прокрутку страницы влево-вправло
}

button {
	cursor: pointer; // вид курсора при наведении на кнопку
}

.container {
	max-width: 1650px; // делает ограничения по ширине экрана
	width: 100%;
	margin: 0 auto;
}

@import 'header';
@import 'ui';
@import 'main_section';
@import 'purpose';